 
<div class="oj-hybrid-padding">
  <h1>Content Area</h1>
<p>
  <b>Please respect the format of string</b>  :<br> 
  (Box-Plot diagram) : Serie 1\tGroupe 1\t15\t25\t5\nSerie 2\tGroupe 2\t10\t20\t5\nSerie 1\tGroupe 1\t20\t25\t8 <br>
  (Scatter-Chart) : Serie 1\tGroupe A\t26\t71\t74\t73\t48\t52\nSerie 2\tGroupe B\t1\t58\t36\t14\t37\t50\nSerie 1\tGroupe A\t3\t28\t59\t8\t12\t17 </p>

  <input data-bind="value: datax" style="width:400px;"  />

  <button data-bind='click: getScatterChart'>Scatter-Chart</button>
  <button data-bind='click: getBoxPlotDiagram'>Box-Plot diagram</button>

<!--  <h2>Data string : <span data-bind="text: datax"> </span> </h2>-->

  <div id='chart-container' data-bind="visible: shouldShowChart" >
    <oj-chart 
        type="scatter" 
        selection-mode="multiple"
        data="[[dataProvider]]"
        animation-on-display="auto"
        hover-behavior="dim"
        style="max-width:500px;width:100%;height:350px;">

        <template slot='itemTemplate' data-oj-as='item'>
            <oj-chart-item 
              x='[[item.data.x]]'
              y='[[item.data.y]]'
              group-id='[[ [item.data.group] ]]' 
              series-id='[[item.data.series]]'> 
            </oj-chart-item>
        </template>
    </oj-chart>
</div>


<div id='chart-container' data-bind="visible: shouldShowChart2">
  <oj-chart id="boxPlot"
          type="boxPlot" 
          orientation="[[orientationValue]]"
          data="[[dataProvider2]]"
          animation-on-display="auto"
          animation-on-data-change="auto"
          hover-behavior="dim"
          style="max-width:500px;width:100%;height:350px;">
          <template slot="itemTemplate" data-oj-as="item">
            <oj-chart-item 
              low="[[item.data.low]]" 
              high="[[item.data.high]]"
              q1="[[item.data.q1]]"
              q2="[[item.data.q2]]"
              q3="[[item.data.q3]]"
              items="[[item.data.outliers]]"
              group-id="[[ [item.data.group] ]]" series-id="[[item.data.series]]">
            </oj-chart-item>
          </template>
  </oj-chart>

  
  <!-- vertical/horizontal toggle button -->
  <oj-toolbar id="myToolbar" aria-label="Chart Display Options Toolbar" aria-controls="boxPlot"
              style="max-width:500px;width:100%;">
      <!-- vertical/horizontal toggle button -->
      <demo-chart-orientation-control id="orientationControl" type="boxPlot" focus-management="none" orientation="{{orientationValue}}">
      </demo-chart-orientation-control>
  </oj-toolbar>
</div>



</div>